*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #9DBEBB;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    position: absolute;
    right: 400px;
    bottom: 350px;
}

.box{
    width: 950px;
    height: 590px;
    display: flex;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
}

.box .contact__form{
    width: calc(950px - 345px);
    background-color: #BE0909;
    padding: 65px;
}

.box .contact__form form .input{
    margin-bottom: 20px;
}

.box .contact__form form .input label{
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
}

.box .contact__form form .input input{
    background: none;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    font-size: 20px;
}
::placeholder{
    color: white;
    opacity: .6;
}

.box .contact__form form button{
    background: #468189;
    padding: 15px 20px;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}

.box .yellow{
    width: 345px;
    background-color: #FFB039;
}

.input{
    display: flex;
    flex-direction: column;
}